*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  body{
      background-color: var(--clr-grey-9);
  }
  button{
      all: unset;
      color: var(--clr-primary-5);
      cursor: pointer;
      font-size: 2rem;
      border-radius: 10px;
  }
  button:hover{
      background-color: var(--clr-grey-8);
  }

  .review{
      background-color: var(--clr-white);
      text-align: center;
      border-radius: 10px;
      box-shadow:  var(--dark-shadow);
      padding: 2rem;
  }
  .title{
      letter-spacing: 2pt;
  }
.container{
    max-width: 400px;
    margin: 7rem auto 0 auto;
    text-align: center;

}
.underline{
    margin: 0 auto;
    width: 70px;
    background-color: var(--clr-primary-5);
    height: 4px;
    border-radius: 2px;
    margin-bottom: 2rem;
    margin-top: .5rem;
}
.img-container{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--clr-primary-5);
    position: relative;
    margin: 0 auto;
}
#autor{
    margin-top: 1.5rem;
    text-transform: capitalize;
}
#job{
    margin-bottom: 1rem;
    color: var(--clr-primary-5);
    text-transform: uppercase;
    font-size: 1rem;
}
.img-container::after{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
}
img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    left: -5px;

    border-radius: 50%;
}
.btn_random button{
    font-size: 1rem;
    padding: .3rem .6rem;
    background-color: var(--clr-grey-9);
    border: 1px solid var(--clr-primary-5);
    margin-top: .5rem;
}
.btn_random button:hover{
    background-color: var(--clr-grey-3);
}

